In [ ]:
cursor.execute("insert into Rasul.myfirst_table values(2, 'Rasul','Auunapriya', 1823, 'Engineering')")
mydb.commit()

## Check the insertion 

cursor.execute('select * from Rasul.myfirst_table')
cursor.fetchall()